@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik-Regular.ttf");
}

@font-face {
    font-family: "Rubik Light";
    src: url("../fonts/Rubik-Light.ttf");
}

* {
    padding: 0;
    margin: 0;
}

#iconEmbed1.collapsed {
    transform: rotate(0);
}

body {
    background-color: #2b2b2b;
    color: white;
    margin: 0;
    font-family: "Rubik";
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    width: 100%;
    min-height: 60px;
    height: 60px;
    max-height: 60px;
    box-shadow: 3px 3px 5px rgb(22, 22, 22);
    z-index: -2;
}

#inputs {
    height: 95vh;
    max-height: 95vh;
    padding: 20px;
}

#messageView {
    height: auto;
    min-height: 100px;
    padding: 30px 20px 20px 20px;
}

#webhookUrl {
    width: 70%;
    z-index: 0;
}

#content {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    resize: vertical;
}

#sendButton {
    background-color: rgb(99, 99, 99);
    color: white;
}

#sendButton:disabled {
    background: none;
    opacity: 0.5;
}

#sendButton:disabled:hover {
    background-color: rgb(54, 54, 54);
}

#sendButton:hover {
    background-color: rgb(70, 70, 70);
}

#inlineDiv {
    display: inline;
}

#viewTableRow {
    display: table-row;
    height: 100%;
    padding: 0;
}

#avatarView {
    display: table-cell;
    height: 100%;
}

#avatarIcon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#usernameView {
    padding: 0 0 0 10px;
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}

#usernameName {
    display: inline;
    width: auto;
}

#botBadge{
    width: auto;
    height: 18px;
    padding-bottom: 10px;
}

#messageTime {
    font-family: 'Rubik Light';
    font-size: 12px;
    font-weight: 100;
    height: auto;
    width: auto;
}

#contentView {
    padding: 5px 0 0 10px;
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}

input,
textarea {
    background-color: rgb(54, 54, 54);
    font-size: 17px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: none;
    color: white;
    outline: 2px solid rgba(red, green, blue, 0);
    transition: color 0.5s;
}

input:focus,
textarea:focus {
    outline: 2px solid #66a1ff;
}

textarea {
    padding: 0 3px 0 3px;
}

hr {
    border-top: 1px solid wheat;
}

textarea::-webkit-scrollbar {
    width: 1em;
    cursor: grabbing;
}

textarea::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    cursor: grabbing;
}

textarea::-webkit-scrollbar-thumb {
    background-color: rgb(122, 122, 122);
    outline: 1px solid rgb(96, 97, 99);
    cursor: grabbing;
}

textarea::-webkit-scrollbar-corner {
    background-color: rgba(122, 122, 122, 0);
    border: none;
    outline: none;
}

#inputs::-webkit-scrollbar {
    width: 1em;
    cursor: grabbing;
}

#inputs::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    cursor: grabbing;
}

#inputs::-webkit-scrollbar-thumb {
    background-color: rgb(122, 122, 122);
    outline: 1px solid rgb(96, 97, 99);
    cursor: grabbing;
}